= form_tag employees_path, :method => :get do
  = text_field_tag :q, params[:q]
  = submit_tag "Search"
  &nbsp;&nbsp;&nbsp;&nbsp;Double click employee name or email to edit.

%table#employees
  %tr
    %th Employee number
    %th First name
    %th Last name
    %th Email
    %th Organization
  = render @employees

%p
  = paginate @employees

:javascript
  $(function() {
    new EBS.EmployeesView;
  });
